.navbar{
    display: flex;
    flex-direction: column;
    background-color: #013914;
    align-items: center;
    color: white;
    .container{
        display: flex;
        justify-content: space-between;
        width: 1400px;
        padding: 20px 0px;
        .text{
            font-size: 34px;
            font-weight: bold;
          .logo{

          }
          .dot{
            color: #1dbf73;
          }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            button{
              color: white;
              background-color: transparent;
              padding: 10px 20px;
              border-radius: 5px;
              border:1px solid white;

              &:hover{
                background-color: #1dbf73;
                border-color:#1dbf73;
              }
             
            }

        }
    }
    .menu{
     width: 1400px;
     padding: 10px , 0px;
    }
}